# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- main

pool:
  name: 'agent'

steps:
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 'git clone https://github.com/SainathRao09/maven.git'

- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 'cd /home/azureuser/myagent/_work/1/s; mvn package'

- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 'scp /home/azureuser/myagent/_work/1/s/webapp/target/webapp.war azureuser@52.233.94.121:/var/lib/tomcat10/webapps/testapp.war'

- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 'git clone https://github.com/IntelliqDevops/FunctionalTesting.git' 

- task: Bash@3
  inputs:
    targetType: 'inline'
    script: 'java -jar /home/azureuser/myagent/_work/1/s/FunctionalTesting/testing.jar'


